include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,i18n('Archives'))
        +BasicStyleSheet
        +BasicECMAScript
        +use('KPageNavigator')
        title= __title__(i18n('Archives'),user.name)
    body(OCP='OVERRIDE') 
        +NavBar
        +PageLabel(i18n('Archives'))
        main.uWcon
            - let used_year = []
            - let y = {}
            each bid in cycling.value
                - let post = ID[bid]
                if !used_year.includes(post.datz.y)
                    - y[post.datz.y] = []
                    - used_year.push(post.datz.y)
                - y[post.datz.y].push(bid)
            each v,k in y
                h2= k
                ul.cPostCon
                    each item in v
                        +SinglePost(IDMap.get(item))
            +KPageNavigator(cycling.total,cycling.now,'archive')
        +Footer
    style.
        a.block{display:block}