include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,varias.name)
        +BasicStyleSheet
        +BasicECMAScript
        +use('KFooter')
        +use('KNavigationBar')
        +use('KPageNavigator')
        title= __title__(varias.name,user.name)
    body(OCP='OVERRIDE')
        +KNavigationBar
        +PageLabel(i18n('Category')+' - '+varias.name)
        main.uWcon
            ul.cPostCon
                each bid in cycling.value
                    +SinglePost(IDMap.get(+bid))
                +KPageNavigator(cycling.total,cycling.now,'category/s'+varias.name)
        +KFooter