include /mixins/script.pug
doctype html 
html(lang="zh")
    head
        +meta(user.note,user.keyword||'')
        +BasicStyleSheet
        title= __title__(i18n('Home'),user.name)
    body(OCP='OVERRIDE')
        +NavBar
        +UserIntro
        br
        +Counter
        br
        main
            ul.cPostCon.uWcon(style='grid-template-columns:repeat(auto-fill,minmax(400px,1fr))')
                each bid in sort.defaultOrder.slice(0,10)
                    +SinglePost(IDMap.get(bid))
                    br
        if sort.defaultOrder.length>10
            +foot_navigator(Math.ceil(sort.defaultOrder.length/10),1,'page')
        +Footer
        include /components/searchPanel.pug