include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,i18n('Posts'))
        +BasicStyleSheet
        +BasicECMAScript
        +use('KFooter')
        +use('KNavigationBar')
        +use('KPageNavigator')
        title= __title__(i18n('Posts'),user.name)
    body(OCP='OVERRIDE') 
        +KNavigationBar
        +PageLabel(i18n('Posts') + i18n('Page '+cycling.now))
        main.uWcon
            ul.cPostCon
                each bid in sort.defaultOrder.slice(0,10)
                    +SinglePost(IDMap.get(bid))
                    br
            +KPageNavigator(cycling.total,cycling.now,'page')
        hr
        +KFooter