include /mixins/script.pug
include /mixins/post_script.pug
doctype html 
html(lang="zh")
    head 
        +prelude(post)
        +meta(post)
        +BasicStyleSheet
        +BasicECMAScript
        +use('KContentTable')
        +use('KFooter')
        +use('KNextPage')
        +use('KNavigationBar')
        title= __title__(post.title,'read')
    body.colorful(OCP='OVERRIDE',style='--color1:'+Plugin.getColorByString(post.foreword)+';--color2:'+Plugin.getColorByString(post.parsed.foreword))
        +KNavigationBar
        +PageLabel
        main.uWcon
            unless post.old == true
                section
                    h2= i18n('Foreword')
                    != post.parsed.foreword
            article#markdown_fillContent
                if post.old == true
                    != post.parsed.foreword
                != post.parsed.content
            hr
            .fit(class=post.license.isCreativeCommons()&&'cclogo')
                +license_notice(post)
            br
            +KNextPage
        hr
        +KFooter
        +KContentTable