include /mixins/script.pug
include /mixins/type_script.pug
doctype html
html 
    head
        +meta(user.note,user.keyword||i18n('Tags'))
        +BasicStyleSheet
        title= __title__(i18n('Tags'),user.name)
    body.new(OCP='OVERRIDE')
        +NavBar
        +PageLabel(i18n('Tags'))
        main
            .uWcon
                each item in cycling.value
                    +SingleSort(item.value,'tag')
            +gnome_page_navigator(cycling.total,cycling.now,'tag')
        +Footer
        include /components/searchPanel.pug