include /mixins/script.pug
doctype html
html 
    head 
        +meta(user.note,varias.name)
        +BasicStyleSheet
        title= __title__(varias.name,user.name)
    body(OCP='OVERRIDE')
        +NavBar
        +PageLabel(i18n('Tag')+' - '+varias.name)
        main
            ul.cPostCon.uWcon
                each bid in cycling.value
                    +SinglePost(IDMap.get(+bid))
        +foot_navigator(cycling.total,cycling.now,'tag/s'+varias.name)
        +Footer